venv/

.env
.env.example

*.db
*.sqlite3
*.sqlite

__pycache__/
ipynb_checkpoints/

*.pt
*.pth

# model/data folders
data/
weights/
backend/weights/
model_inputs/
backend/model_inputs/

# tests
tests/
tests/*.json

# docs
docs/

# local files
dummy_input.json