.btn-primary {
  background-color: #1f8cff;
  border: none;
}

.btn-primary:hover {
  background-color: #1673d6;
}
.card {
  transition: all 0.3s ease;
}

.card:hover {
  transform: translateY(-8px);
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.08);
}


/* Step circle */
.step-circle {
  width: 60px;
  height: 60px;
  background-color: #1f8cff;
  color: white;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  font-size: 18px;
  margin: 0 auto;
  position: relative;
  z-index: 2;
  box-shadow: 0 6px 15px rgba(31, 140, 255, 0.3);
  transition: all 0.3s ease;
}

.step-circle:hover {
  transform: scale(1.1);
}
.explain-box {
  background: white;
  padding: 40px;
  border-radius: 16px;
  box-shadow: 0 15px 40px rgba(0,0,0,0.05);
  font-weight: 600;
}
.feature-card {
  transition: all 0.3s ease;
  border-radius: 16px;
  box-shadow: 0 10px 25px rgba(0,0,0,0.04);
}

.feature-card:hover {
  transform: translateY(-10px);
  box-shadow: 0 20px 50px rgba(0,0,0,0.08);
}